<a href="https://colab.research.google.com/github/guptuv/Aerospace-Project/blob/main/Aero_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Syntax**

In [38]:
random_number=911
print(random_number)

911

In [39]:
astronaut_name="Yuvraj Gupta"
astronaut_age=19
fuel=41.5
is_engine_running=True
astronauts=["UV","Puja","Priya","Revant",'Chiku',"Ritwik"]
astronauts_age={'UV':19,'Puja':32,'Priya':29,'Revant':11,"Chiku":5,'Ritwik':1}
print(astronaut_name)
print(astronaut_age)
print(fuel)
print(is_engine_running)
print(astronauts)
print(astronauts_age)
print(astronauts_age["Ritwik"])
print(astronauts_age.keys())
print(astronauts_age.values())

Yuvraj Gupta
19
41.5
True
['UV', 'Puja', 'Priya', 'Revant', 'Chiku', 'Ritwik']
{'UV': 19, 'Puja': 32, 'Priya': 29, 'Revant': 11, 'Chiku': 5, 'Ritwik': 1}
1
dict_keys(['UV', 'Puja', 'Priya', 'Revant', 'Chiku', 'Ritwik'])
dict_values([19, 32, 29, 11, 5, 1])

In [40]:
travel_time = 10  # hours
speed = 5000      # kilometers per hour
fuel_efficiency = 1000  # kilometers per liter
first_name = "Sally"
last_name = "Ride"
distance=speed*travel_time
print(distance)
fuel_used=distance/fuel_efficiency
print(fuel_used)
time_destination=distance/speed
print(time_destination)
full_name=first_name+" "+last_name
print(full_name)

50000
50.0
10.0
Sally Ride

In [41]:
num_float=3.89
num_int=int(num_float)
print(num_int)
print(type(str(num_float)))

3
<class 'str'>

In [42]:
fuel_remaining = 33.42
oxygen_levels = 21
print(int(fuel_remaining))
print(float(oxygen_levels))

33
21.0

In [43]:
values = [1, 2, 3, 4, 5]
del(values[-1])
values[1]=8
values=values[::-1]
values.append(5)
values.append(9)
print(values)

[4, 3, 8, 1, 5, 9]

# **Rocket Engine Performance Calculator**

In [44]:
thrust=float(input("Enter  Thrust"))
mfr=float(input("Enter Mass flow rate"))
sI=thrust/(mfr*9.81)#specific Inpulse
ev=sI/1000#exhaust velocity
print("Exhaust Velocity=",ev)

Enter  Thrust60000
Enter Mass flow rate56
Exhaust Velocity= 0.109217999126256

In [45]:
celestial_objects = {
    "Sirius": 25,  # Sirius is one of the brightest stars in the night sky
    "Andromeda Galaxy": 1000000,  # Andromeda Galaxy has a very high luminosity
    "Jupiter": 0.00006,  # Jupiter reflects sunlight but has low intrinsic luminosity
    "Pleiades": 100,  # The Pleiades star cluster is moderately luminous
    "Orion Nebula": 10000  # The Orion Nebula is a bright emission nebula
}
lum=[]
for obj in celestial_objects.items():
  print(obj[0])
  lum.append(obj[1])
print(lum)
while lum:
  x=lum.pop()
  if x<200:
    print(x)

Sirius
Andromeda Galaxy
Jupiter
Pleiades
Orion Nebula
[25, 1000000, 6e-05, 100, 10000]
100
6e-05
25

# **Mission Control Flow**

In [46]:
mission_duration = 10  # Duration of the mission in hours
fuel_level = 1000  # Initial fuel level in gallons
distance_to_destination = 500000  # Distance to the destination in kilometers
mission_time = 0  # Initialize mission time
fuel_consumption_rate = 50  # gallons per hour
distance_traveled_per_hour = 50000  # kilometers per hour

while(mission_time<mission_duration):
  distance_to_destination=distance_to_destination-distance_traveled_per_hour
  fuel_level=fuel_level-fuel_consumption_rate
  print("Distance to destination=",distance_to_destination, "km")
  print("Fuel level=",fuel_level," gallons")
  mission_time=mission_time+1
  print("Mission time=",mission_time," hrs")

Distance to destination= 450000 km
Fuel level= 950  gallons
Mission time= 1  hrs
Distance to destination= 400000 km
Fuel level= 900  gallons
Mission time= 2  hrs
Distance to destination= 350000 km
Fuel level= 850  gallons
Mission time= 3  hrs
Distance to destination= 300000 km
Fuel level= 800  gallons
Mission time= 4  hrs
Distance to destination= 250000 km
Fuel level= 750  gallons
Mission time= 5  hrs
Distance to destination= 200000 km
Fuel level= 700  gallons
Mission time= 6  hrs
Distance to destination= 150000 km
Fuel level= 650  gallons
Mission time= 7  hrs
Distance to destination= 100000 km
Fuel level= 600  gallons
Mission time= 8  hrs
Distance to destination= 50000 km
Fuel level= 550  gallons
Mission time= 9  hrs
Distance to destination= 0 km
Fuel level= 500  gallons
Mission time= 10  hrs

In [47]:
def add(a,b):
  return(a+b)
def sub(a,b):
  return(a-b)
def mul(a,b):
  return(a*b)
def div(a,b):
  return(a/b)
print(add(10,20))
print(sub(10,20))
print(mul(10,20))
print(div(10,20))

30
-10
200
0.5

In [48]:
import math
def pow(a,b):
  return(math.pow(a,b))
print(pow(2,3))
def ceil(a):
  return(math.ceil(a))
def floor(a):
  return(math.floor(a))
print(ceil(2.3))
print(floor(2.3))
def factorial(a):
  return(math.factorial(a))
print(factorial(6))

8.0
3
2
720

In [49]:
file = open("sample.txt", "w")
file.write('BLAST')
file.write('OFF')
file.close()

In [50]:
print("fjbnfdjbn","jgnrjnvor")

fjbnfdjbn jgnrjnvor

In [51]:
file=open("orbital_details","w")
planet_names = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

# Orbital periods (in Earth years)
orbital_periods = [0.24, 0.62, 1.0, 1.88, 11.86, 29.46, 84.01, 164.8]

# Axial tilts (in degrees)
axial_tilts = [0.03, 177.36, 23.44, 25.19, 3.13, 26.73, 82.23, 28.32]
for i in range(len(planet_names)):
  file.write(planet_names[i]+" ")#file.write() takes exactly one argument (2 given)
  file.write(str(orbital_periods[i])+ " ")#argument must be str, not float
  file.write(str(axial_tilts[i])+"\n")
file.close()

In [52]:
import numpy as np
data=np.loadtxt("orbital_details",dtype=str)
print("Raw data")
print(data)
data=np.transpose(data)
print("Transposed data")
print(data)

print("Planets",data[0])
print("Gravity",data[1])
print("Axis Tilt",data[2])

Raw data
[['Mercury' '0.24' '0.03']
 ['Venus' '0.62' '177.36']
 ['Earth' '1.0' '23.44']
 ['Mars' '1.88' '25.19']
 ['Jupiter' '11.86' '3.13']
 ['Saturn' '29.46' '26.73']
 ['Uranus' '84.01' '82.23']
 ['Neptune' '164.8' '28.32']]
Transposed data
[['Mercury' 'Venus' 'Earth' 'Mars' 'Jupiter' 'Saturn' 'Uranus' 'Neptune']
 ['0.24' '0.62' '1.0' '1.88' '11.86' '29.46' '84.01' '164.8']
 ['0.03' '177.36' '23.44' '25.19' '3.13' '26.73' '82.23' '28.32']]
Planets ['Mercury' 'Venus' 'Earth' 'Mars' 'Jupiter' 'Saturn' 'Uranus' 'Neptune']
Gravity ['0.24' '0.62' '1.0' '1.88' '11.86' '29.46' '84.01' '164.8']
Axis Tilt ['0.03' '177.36' '23.44' '25.19' '3.13' '26.73' '82.23' '28.32']

### The **end**